* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
}

main {
  @import './modal';

  > h1 {
    display: flex;
    align-items: center;
    width: 100vw;
    text-transform: uppercase;
    font-size: 9px;
    padding: 5px 20px;
    font-weight: normal;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }

  > section.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 50px);

    @media (max-width: 480px) {
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 10px;
    }

    > button {
      border: 0;
      outline: none;
      color: white;
      padding: 30px 45px;
      margin: 0 10px;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color .25s;

      @media (max-width: 480px) {
        margin: 10px 0;
        width: 90vw;
      }

      &:first-of-type {
        background-color: rebeccapurple;
        border-bottom: 1px solid darken(rebeccapurple, 5);

        &:hover {
          background-color: darken(rebeccapurple, 5);
        }
      }

      &:nth-of-type(2) {
        background-color: darkolivegreen;
        border-bottom: 1px solid darken(darkolivegreen, 5);

        &:hover {
          background-color: darken(darkolivegreen, 5);
        }
      }
    }
  }
}
